*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}
header {
    display: flex;
     background-color: #333;
     color: white;
     text-align: center;
     height: 100px;
     align-items: center;
     justify-content: center;
 }
 section{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 400px;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
 }
 section input{
    width: 300px ;
    height: 30px;
    border: 1px solid;
 }