*{
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-bottom: 20px;
    margin: 0;
}
header{ 
     background-color: #333;
     color: white;
     text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
     margin-bottom: 10px;
}
.name{
    display: flex;
    width: 800px;
    /* border: 1px solid; */
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 28px;
}
.list{
    overflow: scroll;
    height: 100vh;
}
.list div{
    width: 800px;
    height: 50px;
    border: 1px solid;
    margin: 10px auto;
}
.list :nth-of-type(even){
    background-color: rgb(197, 193, 193);
}

.out{
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    /* border: 1px solid; */
    font-weight: bold;
}
.out > div{
    margin-right:10px;
}
.border{
    height: 50px;
    border-left: 1px solid;
}